{% load i18n staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}WebMonitor{% endblock title %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}

    <!--[if lt IE 9]>
      <script src="{% static 'js/lib/html5shiv.js' %}"></script>
      <script src="{% static 'js/lib/respond.min.js' %}"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
  </head>

  <body>
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WebMonitor</a>
        </div>
        <div class="collapse navbar-collapse">
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">{% trans 'Call Log' %}</a></li>
            </ul>
            <p class="navbar-text navbar-right">{% trans 'Signed in as' %} {{ user.username }}. <a href="{% url 'logout' %}">{% trans 'Sign out' %}</a></p>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="container">
      {% block content %}{% endblock content %}
    </div>

    <footer class="footer">
      <hr>
      <div class="container">
        <p class="text-muted"><small>© 2013 {% trans 'Mikhail Priver' %}</small></p>
      </div>
    </footer>

    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
