{% extends 'base.html' %}

{% block content %}
  <div id="vm-player"></div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Абонент</th>
            <th>Номер</th>
            <th>Проигрыватель</th>
            <th class="text-right">Длительность</th>
            <th class="text-right">Дата</th>
          </tr>
        </thead>
        <tbody>
          {% for cdr in call_data_records %}
            <tr>
              <td>{{ cdr.source }}</td>
              <td>{{ cdr.destination }}</td>
              <td>
                {% if cdr.is_answered %}
                  <button type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-play"></i></button>
                {% else %}
                  <span class="label label-default">{{ cdr.get_disposition_display }}</span>
                {% endif %}
              </td>
              <td class="text-right">
                <span class="text-muted"> 0:01 / </span> {{ cdr.billing_seconds_timedelta }}
              </td>
              <td class="text-right">{{ cdr.start|date:"j b, G:i" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Фильтры</div>
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
  </div>
{% endblock content %}