{% extends 'base.html' %}
{% load i18n staticfiles monitor_tags %}

{% block content %}
  <div id="player"></div>
  <div class="row">
    <div id='cdrList' class="col-md-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{% trans 'Source' %}</th>
            <th>{% trans 'Destination' %}</th>
            <th>{% trans 'Disposition' %}</th>
            <th>{% trans 'Player' %}</th>
            <th class="text-right">{% trans 'Duration' %}</th>
            <th class="text-right">{% trans 'Date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for cdr in call_data_records %}
            <tr>
              <td>{{ cdr.source }}</td>
              <td>
                {{ cdr.destination }}
              </td>
              <td><span class="label label-{% if cdr.is_answered %}success{% else %}danger{% endif %}">{{ cdr.get_disposition_display }}</span></td>
              <td>
                <button class="btn btn-primary btn-xs player-start"
                        data-oga="{{ cdr.get_media_path }}.ogg"
                        data-mp3="{{ cdr.get_media_path }}.mp3">
                  <i class="glyphicon glyphicon-play"></i>
                </button>
                <div class="player-control hide" style="display: inline">
                  <a href="#" class="btn btn-primary btn-xs jp-play">
                    <i class="glyphicon glyphicon-play"></i>
                  </a>
                  <a href="#" class="btn btn-primary btn-xs jp-pause">
                    <i class="glyphicon glyphicon-pause"></i>
                  </a>
                  <a href="#" class="btn btn-primary btn-xs jp-stop">
                    <i class="glyphicon glyphicon-stop"></i>
                  </a>
                </div>
                <span class="pull-right">
                  <a href="{{ cdr.get_media_path }}.mp3" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-download"></i> mp3</a>
                  <a href="{{ cdr.get_media_path }}.ogg" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-download"></i> ogg</a>
                </span>
              </td>
              <td class="text-right">
                <span class="player-time text-muted hide">
                  <span class="jp-current-time"></span> /
                </span>
                {{ cdr.get_duration_timedelta }}
              </td>
              <td class="text-right">{{ cdr.start|date:"j b, G:i" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% bootstrap_pagination %}
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Filters' %}</div>
        <div class="panel-body">
          <form action="" method="get" role="form">
            <div class="form-group">
              {{ filter.form.start_from.label_tag }}
              <input type="text" class="form-control" id="id_start_from" name="start_from" type="text" value="{{ filter.form.start_from.value|default_if_none:"" }}">
            </div>
            <div class="form-group">
              {{ filter.form.start_to.label_tag }}
              <input type="text" class="form-control" id="id_start_to" name="start_to" type="text" value="{{ filter.form.start_to.value|default_if_none:"" }}">
            </div>
            <div class="form-group">
              {{ filter.form.source.label_tag }}
              <input type="text" class="form-control" id="id_source" name="source" type="text" value="{{ filter.form.source.value|default_if_none:"" }}">
            </div>
            <div class="form-group">
              {{ filter.form.destination.label_tag }}
              <input type="text" class="form-control" id="id_destination" name="destination" type="text" value="{{ filter.form.destination.value|default_if_none:"" }}">
            </div>
            <label>{% trans 'Disposition' %}</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="0" id="id_disposition_0" name="disposition"{% if '0' in filter.form.disposition.value %} checked{% endif %}> {% trans 'no answer' %}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1" id="id_disposition_1" name="disposition"{% if '1' in filter.form.disposition.value %} checked{% endif %}> {% trans 'null' %}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="2" id="id_disposition_2" name="disposition"{% if '2' in filter.form.disposition.value %} checked{% endif %}> {% trans 'failed' %}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="4" id="id_disposition_3" name="disposition"{% if '4' in filter.form.disposition.value %} checked{% endif %}> {% trans 'busy' %}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="8" id="id_disposition_4" name="disposition"{% if '8' in filter.form.disposition.value %} checked{% endif %}> {% trans 'answered' %}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="16" id="id_disposition_5" name="disposition"{% if '16' in filter.form.disposition.value %} checked{% endif %}> {% trans 'congestion' %}
              </label>
            </div>
            <button type="submit" class="btn btn-primary">{% trans 'Apply' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery.jplayer.min.js' %}"></script>
  <script src="{% static 'js/player.js' %}"></script>
{% endblock extra_js %}