{% extends 'base.html' %}
{% load i18n staticfiles monitor_tags %}

{% block content %}
  <div id="player"></div>
  <div class="row">
    <div id='cdrList' class="col-md-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{% trans 'Source' %}</th>
            <th>{% trans 'Destination' %}</th>
            <th>{% trans 'Player' %}</th>
            <th class="text-right">{% trans 'Duration' %}</th>
            <th class="text-right">{% trans 'Date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for cdr in call_data_records %}
            <tr>
              <td>{{ cdr.source }}</td>
              <td>{{ cdr.destination }}</td>
              <td>
                {% if cdr.is_answered %}
                  <button class="btn btn-primary btn-xs player-start"
                          data-oga="{{ cdr.get_media_path }}.ogg"
                          data-mp3="{{ cdr.get_media_path }}.mp3">
                    <i class="glyphicon glyphicon-play"></i>
                  </button>
                  <div class="player-control hide">
                    <a href="#" class="btn btn-primary btn-xs jp-play">
                      <i class="glyphicon glyphicon-play"></i>
                    </a>
                    <a href="#" class="btn btn-primary btn-xs jp-pause">
                      <i class="glyphicon glyphicon-pause"></i>
                    </a>
                    <a href="#" class="btn btn-primary btn-xs jp-stop">
                      <i class="glyphicon glyphicon-stop"></i>
                    </a>
                  </div>
                  <a href="{{ cdr.get_media_path }}.mp3" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-download"></i> mp3</a>
                  <a href="{{ cdr.get_media_path }}.ogg" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-download"></i> ogg</a>
                {% else %}
                  <span class="label label-default">{{ cdr.get_disposition_display }}</span>
                {% endif %}
              </td>
              <td class="text-right">
                <span class="player-time text-muted hide">
                  <span class="jp-current-time"></span> /
                </span>
                {{ cdr.get_duration_timedelta }}
              </td>
              <td class="text-right">{{ cdr.start|date:"j b, G:i" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% bootstrap_pagination %}
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Filters' %}</div>
        <div class="panel-body">
          <form action="" method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery.jplayer.min.js' %}"></script>
  <script src="{% static 'js/player.js' %}"></script>
{% endblock extra_js %}